.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 20px 40px 0 0;
  cursor: pointer;
  > * {
    margin-top: 10px;
  }
}

.card-title {
  text-align: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0273e8;
}

.card-img {
  border-radius: 10%;
  border: 1px solid gray;
  filter: grayscale(100%);
  width: 250px;
}
